*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
    background-color: #ffffff;
    color: #707461;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
    color: #240115;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
}

/* header styling ------------------*/
.welcome-page{
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
}

.welcome-page::before {    
    content: "";
    background-image: url(portfolio-bckgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

.welcome-details{
    position: absolute;
    top: 12%;
    left: 5%;
}
.welcome-header{
    font-weight: bold;
    color: #707461;
    padding: 5rem 2rem 0 2rem;
    letter-spacing: 4px;
}

.name-design{
    color: #c20114;
}

/* contact-styling ----------------- */ /* skill-styling------------ */
.list-method{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.list-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem;
}

.list-method>p{
    color: #240115;
    padding: 1rem;
}
.list-icons>a{
    text-decoration: none;
    color: #240115;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(145deg,#a4b8d0,#e2e8ec);
    box-shadow: 5px 5px 8px #d1d9e6, -5px -5px 8px #d5d2d2;
    border-radius: 5px;
    transition: 0.4s;
}

.list-icons>a:hover{
    background: linear-gradient(145deg,#ff014f,#c20114);
    color: #e2e8ec;
}

.list-icons>button{
    text-decoration: none;
    color: #240115;
    padding: 1rem;
    background: linear-gradient(145deg,#a4b8d0,#e2e8ec);
    box-shadow: 5px 5px 8px #d1d9e6, -5px -5px 8px #d5d2d2;
    border-radius: 5px;
    transition: 0.4s;
    border: none;
}

.list-icons>button:hover{
    background: linear-gradient(145deg,#ff014f,#c20114);
    color: #e2e8ec;
}

/* about me -------------------- */

.about-me{
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.about-me>p{
    font-size: 1.2rem;
}

/* my works----------- */
.my-works{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e7ebef;
    width: 100%;
}

.grid-container{
    display: grid;
    padding: 1rem 6rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.grid-item{
    text-decoration: none;
    padding: 6rem;
    background: linear-gradient(145deg,#a4b8d0,#e2e8ec);
    box-shadow: 5px 5px 12px #d1d9e6, -5px -5px 12px #d5d2d2;
    border-radius: 5px;
    transition: 0.4s;
    margin: 2rem;
}

.grid-item:hover{
    background: linear-gradient(145deg,#ff014f,#c20114);
    color: #e2e8ec;
}

/* mediaqueries---------- */

@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        overflow-x: hidden;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .welcome-details{
        bottom: 0;
        top: 10%;
        left: 2%;
    }
    .welcome-header{
        letter-spacing: 2px;
        padding: 2rem;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .about-me{
        padding: 40px;
        width: 100%;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr) !important;
        padding: 1rem;
        gap: 1.2rem;
    }

    .grid-item{
        padding: 3.5rem;
        margin: 0;
    }

    .list-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
  
  }
/* ---------------------------- */

  @media screen and (max-width: 480px){

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.2rem;
    }

    .welcome-details{
        top: 5%;
        bottom: 0;
        left: 1%;
    }
    .welcome-header{
        letter-spacing: 2px;
        padding: 1.2rem;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr) !important;
        padding: 1rem;
        gap: 1.2rem;
    }

    .grid-item{
        padding: 2.5rem;
        margin: 0;
    }

    .list-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .list-icons>a{
        padding: 0.7rem;
    }

    .list-icons>button{
        padding: 0.7rem;
    }

    .list-method{
        margin: 0;
        padding: 0.3rem;
    }

    .about-me{
        padding: 30px;
        width: 100%;
    }

    .about-me>p{
        padding: 0;
        font-size: 1rem;
    }
  }
  /* 0--------------------- */

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 2.5rem;
        gap: 3rem;
    }

    .grid-item{
        padding: 4rem;
        margin: 0;
    }

    .welcome-details{
        top: 7.5%;
        bottom: 0;
        left: 5%;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1380px){
    .grid-container{
        grid-template-columns: repeat(3, 1fr) !important;
        padding: 2.5rem;
        gap: 3rem;
    }

    .grid-item{
        padding: 4rem;
        margin: 0;
    }

    .welcome-details{
        top: 7.5%;
        bottom: 0;
        left: 5%;
    }
  }